    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
      <div class="container">
          <div class="row">
              <!-- Page Title Start -->
              <div class="col-lg-12">
                  <div class="section-title  text-center">
                      <h2>Login</h2>
                      <span class="title-line"><i class="fa fa-car"></i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
              <!-- Page Title End -->
          </div>
      </div>
  </section>
  <!--== Page Title Area End ==-->

  <!--== Login Page Content Start ==-->
  <section id="lgoin-page-wrap" class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                  <div class="login-form">
                    <h3>Welcome Back!</h3>
                    <!-- <form action="index.html">
                      <div class="username">
                        <input type="text" placeholder="Email or Username">
                      </div>
                      <div class="password">
                        <input type="password" placeholder="Password">
                      </div>
                      <div class="log-btn">
                        <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                      </div>
                    </form> -->
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="username">
                      <!-- <%= f.label :email %><br /> -->
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
                    </div>

                    <div class="field">
                      <!-- <%= f.label :password %><br /> -->
                      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>

                    <div class="log-btn">
                        <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                      </div>
                  <% end %>
                  </div>
                
                  <div class="create-ac">
                    <p>Don't have an account? 
                      <%= render "devise/shared/links" %></p>
                  </div>
                  <div class="login-menu">
                      <%= link_to 'About', target: "_blank" %>
                      <span>|</span>
                      <%= link_to 'Contact', target: "_blank" %>
                  </div>
                </div>
              </div>
        </div>
      </div>
  </section>
  <!--== Login Page Content End ==-->

<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
