<h2>List Car</h2>




<%= form_tag(cars_path, :method => "get", id: "search-form") do %>
  <%= 'Name' %><%= select_tag :search1, options_from_collection_for_select(Car.all.to_a.uniq {|o| o.name}, :name, :name), {:class => 'form-control', :prompt => ''} %>
  <%= 'Transmission' %><%= select_tag :search2, options_from_collection_for_select(Car.all.to_a.uniq {|o| o.transmission}, :transmission, :transmission), {:class => 'form-control', :prompt => ''} %>
  <%= submit_tag "Search", :name => nil %>
<% end %>


<ol>
<% @cars.each do |car| %>
  <li><%= car.name %>,
  <%= car.description %>,
  <%= car.price %>,
  <%= car.image %></li>
  <%= link_to  "Detail", car_path(car) %>
  <%= link_to  "Checkout", new_order_path(:car_id => car.id), :method => :post %>
<% end %>
</ol>